@model IEnumerable<MyApp.Domain.ViewModels.Order.ShowOrderViewModel>


    @{
    
        ViewData["Title"] = "سبد خرید";
        int row = 1;
    }
    
    <h3>سبد خرید</h3>
    <hr />
    
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>تصویر</th>
            <th>عنوان</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th>جمع</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@row</td>
                <td>
                    <img style="max-width: 150px" class="thumbnail" src="/Images/@item.ImageName" />
                </td>
                <td>@item.Title</td>
                <td>@item.Count</td>
                <td>@item.Price</td>
                <td>@item.Sum</td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Order/Command/@item.OrderDetailId?command=up">+</a>
                    <a class="btn btn-sm btn-warning" href="/Order/Command/@item.OrderDetailId?command=down">-</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Order" asp-route-id="@item.OrderDetailId">
                        حذف
                    </a>
                </td>
            </tr>
    
            row += 1;
        }
       
        <tr>
            <td colspan="1">کد تخفیف</td>
        <td colspan="1">
            <form action="/UserPanel/MyOrders/UseDiscount" method="post">
                <input type="hidden" name="orderid" value="" />
                <input type="text" name="code" class="form-control" />
                <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
            </form>
        </td>
        <td colspan="1">جمع کل : </td>
        <td colspan="3">
            
        </td>

            <td colspan="1">
                <a class="btn btn-success btn-block" asp-controller="Order" asp-action="Payment"  asp-route-id="2">تایید و پرداخت نهایی</a>
    
            </td>
        </tr>
    </table>
    
    
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    