@model IEnumerable<MyApp.Domain.ViewModels.Orders.ShowOrderViewModel>

@{
    ViewData["Title"] = "سبد خرید";
    int row = 1;
}

<h3>سبد خرید</h3>
<hr />
@if (TempData["DiscountResult"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["DiscountResult"]
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>تصویر</th>
        <th>عنوان</th>
        <th>تعداد</th>
        <th>قیمت</th>
        <th>جمع</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@row</td>
            <td>
                <img style="max-width: 150px" class="thumbnail" src="/Images/@item.ImageName" />
            </td>
            <td>@item.Title</td>
            <td>@item.Count</td>
            <td>@item.Price.ToString("N0", new System.Globalization.CultureInfo("fa-IR")) <span class="currency">تومان</span></td>
            <td>@item.Sum.ToString("N0", new System.Globalization.CultureInfo("fa-IR")) <span class="currency">تومان</span></td>
            <td>
                <a class="btn btn-sm btn-success" href="/Order/Command/@item.OrderDetailId?command=up">+</a>
                <a class="btn btn-sm btn-warning" href="/Order/Command/@item.OrderDetailId?command=down">-</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Order" asp-route-id="@item.OrderDetailId">
                    حذف
                </a>
            </td>
        </tr>

        row += 1;
    }

    <tr>
        <td colspan="1">کد تخفیف</td>
        <td colspan="1">
            <form asp-controller="Discount" asp-action="UseDiscount" method="post">
                <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
                <input type="hidden" name="userId" value="@ViewBag.UserId" />

                @if (TempData["IsDiscountApplied"] != null && (bool)TempData["IsDiscountApplied"])
                {
                    <div class="alert alert-success">تخفیف اعمال شد</div>
                    <!-- دکمه تخفیف را نشان نمی‌دهیم -->
                }
                else
                {
                    <input type="text" name="discountCode" class="form-control" />
                    <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                }
            </form>
        </td>
        <td colspan="1">جمع کل : </td>
        <td colspan="3">
            @ViewBag.Sum.ToString("N0", new System.Globalization.CultureInfo("fa-IR")) <span class="currency">تومان</span>
        </td>

        <td colspan="1">
            @if (ViewBag.Sum > 0)
            {
                <form asp-controller="Payment" asp-action="Pay" method="post">
                    <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
                    <input type="hidden" name="userId" value="@ViewBag.UserId" />
                    <input type="hidden" name="amount" value="@ViewBag.Sum" />
                    <input type="submit" class="btn btn-success btn-block" value="تایید و پرداخت نهایی" />
                </form>
            }
            else
            {
                <form>
                    <input type="submit" class="btn btn-success btn-block" value="تایید و پرداخت نهایی" />
                </form>
            }

        </td>
    </tr>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
