@using MyApp.Domain.ViewModels.Products
@model IEnumerable<MyApp.Domain.ViewModels.Products.ProductViewModel>


@{
    ViewData["Title"] = "Products List";
}

<h2>Products List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td><img src="@product.ImageName" alt="@product.Title" width="100" /></td>
                <td>
                    <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Product")" class="btn btn-success">Create New Product</a>
